@font-face {
    font-family: Roboto Slab;
    src: url("assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}
@font-face {
    font-family: PT Sans;
    src: url("assets/fonts/PT_Sans/PTSans-Bold.ttf");
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;

}
* {
    box-sizing: border-box;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
}
.section {
    
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
html {
    scroll-behavior: smooth;
}
.nav-list {
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: 3s;
}
/*
.main-container {
    display: flex;
    
    flex-wrap: wrap;
}*/
.section-title {
    font-size: 20px;
    font-weight: 400;
    letter-spacing:5px;
    color: #829985;
}
.link {
    text-decoration: none;
    color: #828282;
    transition: color 0.5s;
}
.link:hover {
    color: #5d7260;
}
footer {
    margin: 0 auto;
}